<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
    <div class="title_box">
     <%= image_tag("about/about.jpg", size: "177x70", alt: "about") %>
    </div>
    <div class="title_mid">
     <%= image_tag("about/midashi.jpg", size: " 1000x20", alt: "midashi") %>
    </div>
    <div class="about-h2">
     <h2><%= image_tag("about/about-h1.png", size: " 850x150", alt: "midashi") %></h2>
    </div>
  </div><!--contentsu-in -->
</div><!--contentsu -->

<div class="content-box clearfix">
    <div class="content-main clearfix">
      <div class="main-title">
        <h2>お客さまにとっての9-NINEとは？</h2>
      </div>
      <div class="m-box">
        <h3 class="box-title">最適な建築家・施工会社は？</h3>
        <p>9-NINEには弊社独自の基準によって厳選されのみ登録されています。<br>
        設計・施工を行う協力会社とはそれぞれの会社の特徴や安全性など、詳細に把握しております。<br>
        お客様の要望を叶えるだけはなく、想像を超えた空間を想像致します！</p>
      </div>
      <div class="m-box2">
        <h3 class="box-title">建築のブランド価値とは？</h3>
        <p>世界的にに有名である少数の建築家に絞ることにより、お客さまの悩みも素早く、満足度の高い答えを迅速にご用意できます。<br>
        また建築家自身で多くの受賞歴が在るので、設計された建築はデザイン系雑誌に殆ど取り上げられております！
        </p>
      </div>
      <div class="m-box2">
        <h3 class="box-title">適正な価格・正確な施工は？</h3>
        <p>設計料？や工事代金のトータル？謎が多い建築業界。<br>
        また、相見積もりだけによる価格の安さだけでしか判断できない等の問題をプロが徹底サポート！<br>
        今まで不透明になっていたブラックボックスを完全解明します。</p>
      </div>
    </div><!--content-main -->
    <div class="content-main2 clearfix">
      <div class="main-title">
        <h2>提携会社にとっての9-NINEとは？</h2>
      </div>
      <div class="m-box3">
        <h3 class="box-title">建築家の方々へ</h3>
        <p>弊社では"建築業界のミシュランガイド"を目的に、有名建築家によるブランド価値を創造していきたいと考えております。<br>
        ですので、提携して頂く建築家の方々には弊社独自の基準を満たしている方に限定させて頂きます。<br>
        建築家ネットワークにより良質な建築を生み出すため、是非我々と共に建築界に新しい価値観を創造をお願いいたします。</p>
      </div>
      <div class="m-box4">
        <h3 class="box-title">施工業者の方々へ</h3>
        <p>日本の建築・土木技術は世界一と言いきれる程評価が高いと考えております。<br>
        弊社の案件では、建築家による複雑な形態を形にしていきながら、耐震などの安全性にも考慮する必要があるためと大変な作業となります。<br>
        それにより、弊社を通じ複雑な施工方法などを提供することにより、二次・三次と将来性へと繋げていくことも可能です。</p>
      </div>
      <div class="m-box4">
        <h3 class="box-title">広報・イベント関連の方々へ</h3>
        <p>弊社では、有名建築家による建築のブランド価値創造を目的としております。<br>
        案件内容も大変ユニークで注目度も高いモノが多数存在しておりますので、いち早く有益な情報をお伝えできると考えております。<br>
        また、トップページにて広告掲載スペースもございますので、ご検討中の方は一度弊社までご連絡ください。</p>
      </div>
    </div><!--content-main -->
    <div class="content-main2 clearfix">
      <div class="main-title">
        <h2>9-NINEご利用の流れ</h2>
      </div>
      <ol>
        <li>
          <span class="number">1</span>
	        <div class="step-cont">
	         <h3>ヒアリング</h3>
	         <p>お客さまの案件についての詳細をお伺いいたします。<br>
	         9-NINEでは対応するコンサルタントがお客さまのニーズをより詳しく把握するためヒアリングを行い、ご紹介する協力会社を検討します。</p>
	        </div>
        </li>
        <li>
          <span class="number">2</span>
	        <div class="step-cont">
	         <h3>案件説明</h3>
	         <p>9-NINEのコンサルタントがお客様のご要望を纏め、建築家・施工会社に一度アポイントを取得した上でご紹介する協力会社を選定します。</p>
	        </div>
        </li>
        <li>
          <span class="number">3</span>
	        <div class="step-cont">
	         <h3>ご面談</h3>
	         <p>紹介する協力会社とお会いいただき、スケジュールや詳細な依頼内容についてお打ち合わせします。<br>
	         この段階では費用も発生しませんので、じっくりとお客様に合う建築家を一緒に選んでいきましょう。
	         </p>
	        </div>
        </li>
        <li>
          <span class="number">4</span>
	        <div class="step-cont">
	         <h3>ご成約</h3>
	         <p>選んで頂いた建築家との打ち合わせをもとに、初期設計や見積もりを見ながらデザインの提案を伺いながら、協力会社との契約を結びます。</p>
	        </div>
        </li>
        <li>
          <span class="number">5</span>
	        <div class="step-cont">
	         <h3>お支払い・着工</h3>
	         <p>お客さまから設計施工会社へお支払いいただきます。<br>
	         これまでの打ち合わせ・契約内容をもとに、内装工事を開始します。<br>
	         ＊お支払いは段階的に複数存在しますので、詳細はヒアリング段階で詳しく説明致します。</p>
	        </div>
        </li>
      </ol>
      <div class="bt-center">
       <%= link_to '詳しくは Designer Produceへ', produce_path, { :class => "btn btn-info btn-lg" } %>
      </div>
    </div><!--content-main -->
    
    
</div><!--content-box -->
