<div id="contentsu">
  <div id="contentsu-in" class="clearfix">
    <div class="title_box">
     <%= image_tag("business/business.jpg", size: "304x42", alt: "business") %>
    </div>
    <div class="title_mid">
     <%= image_tag("business/midashi.jpg", size: "1000x20", alt: "midashi") %>
    </div>
    <div class="img-box">
     <h1><%= image_tag("business/business-graf.png", size: "1000x550", alt: "business-graf") %></h1>
    </div>
      <ul>
        <li class="home-produce">
          <h3>住宅プロデュース事業</h3>
	          <ul>
              <li>
                <p>『究極の一邸』を創造します</p>
                <span>建築家によるデザイン性と機能性＋お客様個人の独自性を追求します。</span>
              </li>
              <li>
                <p>『徹底的なヒアリグ』による抽象化</p>
                <span>弊社にてお客様が何を求め、何を必要とするのかを洗い出します。</span>
              </li>
              <li>
                <p>『完成までの流れ』を細部まで把握</p>
                <span>計画,資金,工期,注意点等の"全て"を弊社にてお伝え致します。</span>
              </li>
            </ul> 
        </li>
        <li class="space-produce">
          <h3>空間リノベーション事業</h3>
	          <ul>
              <li>
                <p>『究極の一邸』を創造します</p>
                <span>建築家によるデザイン性と機能性＋お客様個人の独自性を追求します。</span>
              </li>
              <li>
                <p>『徹底的なヒアリグ』による抽象化</p>
                <span>弊社にてお客様が何を求め、何を必要とするのかを洗い出します。</span>
              </li>
              <li>
                <p>『完成までの流れ』を細部まで把握</p>
                <span>計画,資金,工期,注意点等の"全て"を弊社にてお伝え致します。</span>
              </li>
            </ul> 
        </li>
        <li class="commerce-produce">
          <h3>商業プロデュース事業</h3>
	          <ul>
              <li>
                <p>『究極の一邸』を創造します</p>
                <span>建築家によるデザイン性と機能性＋お客様個人の独自性を追求します。</span>
              </li>
              <li>
                <p>『徹底的なヒアリグ』による抽象化</p>
                <span>弊社にてお客様が何を求め、何を必要とするのかを洗い出します。</span>
              </li>
              <li>
                <p>『完成までの流れ』を細部まで把握</p>
                <span>計画,資金,工期,注意点等の"全て"を弊社にてお伝え致します。</span>
              </li>
            </ul> 
        </li>
        <li class="asset-produce">
          <h3>アセットマネジメント事業</h3>
	          <ul>
              <li>
                <p>『究極の一邸』を創造します</p>
                <span>建築家によるデザイン性と機能性＋お客様個人の独自性を追求します。</span>
              </li>
              <li>
                <p>『徹底的なヒアリグ』による抽象化</p>
                <span>弊社にてお客様が何を求め、何を必要とするのかを洗い出します。</span>
              </li>
              <li>
                <p>『完成までの流れ』を細部まで把握</p>
                <span>計画,資金,工期,注意点等の"全て"を弊社にてお伝え致します。</span>
              </li>
            </ul> 
        </li>
      </ul>
    
    
  </div>
</div>