<div id="contentsu" class="top-padi">
 <div id="contentsu-in" class="clearfix" >
   
   <div class="top-margin">
    <%= render 'shared/sidebar' %>
    <div id="main-footer">
        <h3>
         <%= image_tag("footer/unei_midashi.png", size: "710x90", alt: "運営会社") %>
        </h3>
     <table class="hyouki">
     <tbody>
      <tr>
       <th>会社名</th>
       <td>株式会社 Creative Innovation</td>
      </tr>
      <tr> 
       <th>代表取締役CEO</th>
       <td>宮本　一彦</td>
      </tr>
      <tr>
       <th>所在地</th>
       <td>〒106-0032 東京都港区六本木1-1-1 千代田ビル10F 1005</td>
      </tr>
      <tr>
      <tr>
       <th>事業概要</th>
       <td>●Webサービスの企画・運営・設計・開発<br />　・9-NINEの運営<br />
       ●戦略コンサルティング<br />●情報ビジネス<br />
       ●意匠設計<br />
       ●デジタルコンテンツ事業<br />
       </td>
      </tr>
      <tr>
       <th>TEL :</th>
       <td>03-0000-0000</td>
      </tr>
      <tr>
       <th>E-mail :</th>
       <td>crin-9@creative.jp</td>
      </tr>
     </tbody>
     </table>
    </div>
    </div>
  
 </div>
</div>