<div id="contentsu" class="top-padi">
 <div id="contentsu-in" class="clearfix" >
   
   <div class="top-margin">
    <%= render 'shared/sidebar' %>
    <div id="main-footer">
        <h3>
         <%= image_tag("footer/poricy_midashi.png", size: "710x90", alt: "プライバシーポリシー") %>
        </h3>
        <div class="sections">
     <p>　この利用規約は、株式会社Creative Innovaton（以下「当社」）が、本サイト9-NINE上で提供するサービス（以下「本サービス」）における利用条件を定めるものです。お客様には、本規約に従い本サービスをご利用いただきます。<br />
　本サービスを利用するためには、本利用規約および当社が定める本サービスの利用に関するガイドライン（以下、「ガイドライン」といいます。）の全てに同意していただく必要があり、会員が本サービスを利用したときは、会員は本利用規約に同意したものとみなされるものとします。
     </p>
    <dl>
     <dt><h4><span>1条 個人情報に対する基本的な考え方 </span></h4></dt>
      <dd>　(1)株式会社Creative Innovation（以下「当社」）は、当社のウェブサービス「9-NINE」（以下「本サービス」）を提供するにあたり、必要となる情報をユーザーから取得します。<br /><br />
      
      　1)当社は、お客様から取得した個人情報の保護に最大限の注意を払います。<br />
　2)当社の個人情報に対する考え方は以下の通りです。なお、当プライバシーポリシーにおける用語は、当プライバシーポリシーに定義されるもののほか、関連する当社の利用規約およびガイドライン以下「利用規約等」）において定義される意味によるものとします。</dd>
      
     <dt><h4><span>2条 個人情報の取得</span></h4></dt>
      <dd>　(1)本サービスでのお問い合わせにご記入頂いた情報。<br /><br />
            　1)電話番号<br />
            　2)メールアドレス<br />
            　3)氏名<br />
            　4)住所<br /><br />

    　(2)当社は、提携先やその他の第三者から、ユーザーまたは第三者の個人情報や信用情報を含む通知を受け取ったり、規約違反行為の調査等のため、公開された個人情報を正当な手段により取得する場合があります。<br /><br />
    
　（以下「利用規約等」）において定義される意味によるものとします。</dd>
      
     <dt><h4><span>3条 個人情報の利用について</span></h4></dt>
      <dd>　(1)当社は、収集した個人情報を以下の目的で利用することができるものとします。<br /><br />
      　1) 本人確認、認証サービスのため<br />
      　2) アフターサービス、お問い合わせ、苦情対応のため<br />
      　3) 当社及び本サービスへのお問い合わせ、本サービスの運営上必要な事項の通知（電子メールによるものを含むものとします。）<br />
      　4) システムの維持、不具合対応のため<br />
      　5) 当社サービスの改善や新サービスの開発等に役立てるため<br />
      　6) その他当社の各サービスにおいて個別に定める目的のため</dd>
      
     <dt><h4><span>4条 個人情報の第三者への提供</span></h4></dt>
      <dd>　(1)当社は、以下に定める場合には、個人情報を第三者に提供することができるものとします。<br /><br />
      　1) 本人の同意がある場合<br />
      　2) 裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合<br />
      　3) 保険金請求のために保険会社に開示する場合<br />
      　4) 当社が行う業務の全部または一部を第三者に委託する場合<br />
      　5) 当社に対して秘密保持義務を負う者に対して開示する場合<br />
      　6) 当社の権利行使に必要な場合<br />
      　7) 合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合<br />
      　8) 個人情報保護法その他の法令により認められた場合</dd>

     <dt><h4><span>5条 個人情報の開示</span></h4></dt>
      <dd>　(1)当社は、ご本人から、個人情報の開示を求められたときは、ご本人に対し、遅滞なく開示します。<br />
      　ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。<br /><br />
      　1) ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合<br />
      　2) 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br />
      　3) 他の法令に違反することとなる場合</dd>

     <dt><h4><span>6条 個人情報の削除</span></h4></dt>
      <dd>　(1)当社は、お客様情報について、削除できるようにしています。ご自身の個人情報を削除するには<br />　crin-9@creative.jpまでお問い合わせください。<br /><br /></dd>
    
    <dt><h4><span>7条 個人情報の保護、管理</span></h4></dt>
      <dd>　(1)当社は、お客様情報について、当社担当職員以外による参照を禁じています。また、お客様情報は施錠された安全な場所に保管されており、当社が管理する区画の外に持ち出されることはありません。<br /><br />
      
      　(2)当社は、当社職員と秘密保持契約を締結し、当社の定めるセキュリティポリシーの遵守を義務付けております。</dd>

     <dt><h4><span>8条 当ポリシーが適用される範囲 </span></h4></dt>
      <dd>　(1)お客様が本サービス上で自発的に個人情報を開示した場合、その情報は第三者によって収集されたり悪用されたりする恐れがあります。この場合、当社は一切責任を負いません。<br /><br />
      
      　(2)本サービス内で特に定める場合を除き、本サービス上からリンクされた当社の別サイトまたは第三者のサイトおよびサービスは、当プライバシーポリシーとは別の独立した個人情報の保護に関する規程を定めています。<br /><br />
      
      　(3)当社は第三者のサイトやサービスにおけるこれらの規定や活動についていかなる義務や責任も負いかねます。個人情報の提供にあたっては、各サイトの定める規約等を事前にご確認ください。</dd>

     <dt><h4><span>9条 プライバシーポリシーの改定</span></h4></dt>
      <dd>　(1)当社は当プライバシーポリシーの全部または一部を改定することがあります。重要な変更がある場合には、本サービス上などで分かりやすい方法でお知らせします。<br />
      　この場合、ユーザーの個人情報は、改定後のプライバシーポリシーに従って取り扱われることになります。</dd>

     <dt><h4><span>10条 個人情報管理責任者</span></h4></dt>
      <dd>　 (1)当社の個人情報管理責任者は下記の通りです。<br /><br />
      
      　　1)株式会社Creative Innovation<br />          
      　　2)代表取締役　宮本　一彦<br />   
      　　3)東京都港区六本木1-1-1 千代田ビル10F 1005<br />     
      　　4)TEL:03-0000-0000<br />   
      　　5)Email:crin-9@creative.jp</dd>

     <dt><h4><span>11条 お問い合わせ先</span></h4></dt>
      <dd>　(1) 個人情報に関するお問い合わせ先はこちらです。<br /><br />
      
      　(2)株式会社Creative Innovation <%= link_to "お問い合わせ窓口", inquiry_path %></dd>

     </dl>
       </div>
    </div>
    </div>
  
 </div>
</div>