/*designer用css*/

.img-box {
	margin-bottom: 40px;
}

#designer_box {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#designer-left {
	width: 350px;
	margin: 0 50px 0 100px;
	float:left;
}

#designer-left ul li {
	margin-top:15px;
}

#designer-right {
	width: 350px;
	margin: 0 100px 0 50px;
	float:left;
}

#designer-right ul li {
	margin-top:15px;
}

/*designer用css*/


.o1 {
    background-image: image-url("designer/torafu_over.jpg");
    background-repeat: no-repeat;
}
.o1 a {
    display: inline-block;
}
.o1 a:hover img {
    visibility: hidden;
}
.o2 {
    background-image: image-url("designer/fujimoto_over.jpg");
    background-repeat: no-repeat;
}
.o2 a {
    display: inline-block;
}
.o2 a:hover img {
    visibility: hidden;
}
.o3 {
    background-image: image-url("designer/hirata_over.jpg");
    background-repeat: no-repeat;
}
.o3 a {
    display: inline-block;
}
.o3 a:hover img {
    visibility: hidden;
}
.o4 {
    background-image: image-url("designer/nagayama_over.jpg");
    background-repeat: no-repeat;
}
.o4 a {
    display: inline-block;
}
.o4 a:hover img {
    visibility: hidden;
}
.o5 {
    background-image: image-url("designer/igarashi_over.jpg");
    background-repeat: no-repeat;
}
.o5 a {
    display: inline-block;
}
.o5 a:hover img {
    visibility: hidden;
}
.o6 {
    background-image: image-url("designer/nakamurah_over.jpg");
    background-repeat: no-repeat;
}
.o6 a {
    display: inline-block;
}
.o6 a:hover img {
    visibility: hidden;
}
.o7 {
    background-image: image-url("designer/tanijiri_over.jpg");
    background-repeat: no-repeat;
}
.o7 a {
    display: inline-block;
}
.o7 a:hover img {
    visibility: hidden;
}
.o8 {
    background-image: image-url("designer/yoshimura_over.jpg");
    background-repeat: no-repeat;
}
.o8 a {
    display: inline-block;
}
.o8 a:hover img {
    visibility: hidden;
}
.o9 {
    background-image: image-url("designer/nakamurar_over.jpg");
    background-repeat: no-repeat;
}
.o9 a {
    display: inline-block;
}
.o9 a:hover img {
    visibility: hidden;
}
.o10 {
    background-image: image-url("designer/oonishi_over.jpg");
    background-repeat: no-repeat;
}
.o10 a {
    display: inline-block;
}
.o10 a:hover img {
    visibility: hidden;
}