/* 表示領域全体 */
.tabsbox {
   background-color:#FFFFFF;
	float: left;
	width: 540px;
	margin-left:460px;
	margin-top: 20px;
	border: 1px solid #333333;
}
.title-news {
	margin: 50px 0 20px 460px;
	
}

/* タブ部分 */
.tabsbox ul.tabus {
	margin:0 auto;
	padding:0px;
}

.tabsbox ul.tabus li.tab2 {
	margin:0 auto;
	padding:0;
	list-style:none;
	float:left;
}

div.tabsbox ul.tabus a {
   display:block;
   float: left;
   text-align:center;
   border:1px solid #CCCCCC;
   padding:8px;
   border-radius:2px 2px 0px 0px;
}
.tabsbox ul.tabus a.tab3 {
   display:block;
   float: left;
   text-align:center;
   margin-left:1px;
   border:1px solid #CCCCCC;
   padding:8px;
   border-radius:2px 2px 0px 0px;
}

.tabsbox ul.tabus a.tab1 {
	background-color:#FFFFFF;
	color:#333333;
}

.tabsbox ul.tabus a:link {
	color:#333333;
}


.tabsbox ul.tabs a:hover {
	background-color:#09F;
	color:#FFFFFF;
}


/* タブ中身のボックス */
.tabs {
	overflow:auto;
	clear:left;
}

.main-box {
	width:498px;
	height:198px;
	margin-top:20px;
	margin-bottom:20px;
}

.box-l {
	margin:10px 0 0 10px;
	float:left;
	width:220px;
}

.box-l p.box-img {
	margin-bottom:10px;
	height:150px;
}

.box-l p.icon-j {
	background-image: image-url("news/icon-j.jpg");
	background-repeat: no-repeat;
	line-height:20px;
	padding-left:27px;
	font-size:14px;
}

.box-r {
	margin:10px 10px 0 0;
	float:right;
	width:240px;
}

.box-r h4 {
	font-size:16px;
	font-weight:bold;
	border-bottom:2px solid #333333;
	line-height:30px;
	margin-bottom:20px;
}

.box-r li {
	font-size:14px;
	margin-bottom:5px;
}

.box-r li.icon-m {
	background-image: image-url("news/icon-m.jpg");
	background-repeat: no-repeat;
	line-height:20px;
	padding-left:27px;
}

.box-r li.icon-p {
	background-image: image-url("news/icon-p.jpg");
	background-repeat: no-repeat;
	line-height:20px;
	padding-left:27px;
}

.box-r li.icon-h {
	background-image: image-url("news/icon-h.jpg");
	background-repeat: no-repeat;
	line-height:20px;
	padding-left:27px;
}

.box-r li.icon-a {
	background-image: image-url("news/icon-a.jpg");
	background-repeat: no-repeat;
	line-height:20px;
	padding-left:27px;
}


#tab01 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab02 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab03 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab04 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab05 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab06 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab07 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab08 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab09 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab010 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab011 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

#tab012 {
   border:1px solid #CCCCCC;
   background-color:#FFFFFF;
}

.tabss p {
	margin:0.5em;
}