/* slideボックス構成 */

.slide-box {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	
}

.section {
	width: 830px;
	height: 370px;
	position: relative;
	margin: 50px 85px 50px 85px;
}

.sectionContent {
	width: 530px;
	float: left;
	height: 370px;
	margin: 0 auto;
	padding: 0;
}


.sectionContent2 {
	width: 300px;
	float: right;
	height: 370px;
	margin: 0 auto;
	padding: 0;
}

.bx-wrapper .bx-pager {
	text-align: left;
	font-size: 2em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
	
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #dbdbdb;
	text-indent: -9999px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	outline: 0;
	border-radius: 10px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #4a4a4a;
}
/* slideボックスここまで */


/*Home用css*/
#contentsu {
	width: 100%;
	background-color:#FFFFFF;
	margin-bottom: 20px; 
	padding: 0;
}

#contentsu-in {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
}

#contentsu-in h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 10px;
}


#contentsu-in ul.tabs {
	background-color: #000000;
	width: 630px;
	height: 30px;
	padding: 5px;
	margin-left: 10px;
	color: #FFFFFF;
	margin-bottom: 20px;
}

li.ab-l2 {
	float: left;
	font-size: 12px;
	margin-left: 5px;
}

li.ab-l {
	float: left;
	font-size: 12px;
	margin-left: 15px;
}

li.ab-r {
	float: left;
	font-size: 12px;
	margin-left: 50px;
}

#contentsu-in ul.tabs a:link, a:visited {
	color: #FFFFFF;
}

#contentsu-in ul.tabs a:hover {
	color: #09F;
}


/* タブ部分 */

.tab {
	clear: left;
	overflow: hidden;
	padding: 0 20px;
	display: none;
}

.tab p {
	margin: 0.5em;
}


#contentsu-in ul.ab-2 {
	background-color:#000000;
	width: 310px;
	height: 30px;
	padding: 5px;
	margin-left: 10px;
	color:#FFFFFF;
	margin-bottom: 20px;
}

#contentsu-in ul.ab-2 a:link, a:visited {
	color:#FFFFFF;
}

#contentsu-in ul.ab-2 a:hover {
	color:#09F;
}

li.ab-2-l {
	float: left;
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
}

li.ab-2-r {
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
}

.center_box {
	width: 660px;
	float: left;
	margin-top: 20px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

#tab1 {
	margin: 0 auto;
	padding: 10px;
	width: 660px;
}

#tab2 {
	margin: 0 auto;
	padding: 10px;
	width: 660px;
}

#tab3 {
	margin: 0 auto;
	padding: 10px;
	width: 660px;
}

#tab4 {
	margin: 0 auto;
	padding: 10px;
	width: 660px;
}

.min-box {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-bottom: 30px;
	margin-left: 20px;
}

.min-box2 {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-bottom: 30px;
	margin-left: 20px;
}

.min-box3 {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-left: 20px;
	margin-bottom: 30px;
}

.min-box4 {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-left: 20px;
	margin-bottom: 30px;
}

.min-box5 {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-left: 20px;
	margin-bottom: 10px;
}

.min-box6 {
	float: left;
	position: relative;
	padding: 5px;
	width: 280px;
	border: 1px solid #000000;
	margin-left: 20px;
	margin-bottom: 10px;
}

h3.box-title {
	font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 10px 5px;
	width: auto;
	text-align: left;
}

h3.box-title a {
	color: #111111;
}

p.h-img {
	border: 1px solid #999999;
	margin: 0 0 10px 5px;
	width: 260px;
	height: 170px;
}

ul.attr {
	margin: 0 0 50px;
	width: auto;
}

li.date {
	float: left;
	width: auto;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 700;
}

li.date a {
	color:#111111;
}

li.date a:hover {
	color:#09F;
}

li.cat {
	background: none repeat scroll 0 0 #000000;
	color: #FFFFFF;
	float: right;
	font-size: 12px;
	padding: 2px 5px;
	margin-right: 13px;
	width: auto;
}

p.box-text {
	width: auto;
	margin-bottom: 20px;
	margin-left: 2px;
}

p.more {
	margin-left: 20px;
	margin-bottom: 10px;
	width: 260px;
}

#right_box {
	width: 330px;
	float: left;
	margin-top: 20px;
}

.right-in {
	width: 302px;
	margin-top: 30px;
	margin-left: 15px;
	position: relative;
}

li.rin-1 {
	border: 1px solid #999999;
	margin-bottom: 20px;
}

li.rin-2 {
	margin-bottom: 20px;
	border: 1px solid #999999;
}
/*Home用cssここまで*/


/*Q&A用css*/


#qa_box img{
	margin-left: 14px;
	margin-top: 40px;
}

#qa_box2 {
	margin-left: 9px;
	margin-top: 45px;
}

#left_box_text {
	width: 500px;
	float: left;
	text-align: left;
	margin-top: 20px;
}

.left_text {
	margin-left: 14px;
	margin-top: 60px;
	text-align: left;
}

.left_text span.mi {
	font-size: 15px;
	background-color: #333333;
	color: #FFFFFF;
	padding: 12px;
}

.left_text .t-box {
	margin-left: 14px;
	text-align: left;
}

#right_box_text {
	width: 500px;
	float: left;
	text-align: left;
}


.right_text {
	margin-left: 14px;
	margin-top: 80px;
	float: left;
}

.right_text2 {
	margin-left: 14px;
	margin-top: 60px;
	float: left;
}

.right_text span.mi {
	font-size: 15px;
	background-color: #333333;
	color: #FFFFFF;
	padding: 12px;
}

.right_text2 span.mi {
	font-size: 15px;
	background-color: #333333;
	color: #FFFFFF;
	padding: 12px;
}

/*Q&A用css*/


/*Avout用css*/

#about_box {
	margin: 40px 0;
	
}
#about_box2 {
	margin-bottom: 40px;
}
.about-h1 {
	margin-left: 75px;
}

.content-box {
	width: 100%;
	background-color: #f6f6f6;
	margin: 0 auto;
	padding-top: 30px;
}
.content-main {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.content-main2 {
	width: 1000px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	
}
.main-title h2 {
	text-align: center;
	color: #3f3f3f;
	border-bottom: 1px solid #7f7f7f;
	padding: 60px 0;
	margin-bottom: 40px;
}

.m-box {
	float: left;
	position: relative;
	padding: 5px;
	width: 320px;
	height: 250px;
	margin-bottom: 30px;
	background: #FFFFFF;
	text-align: center;
	line-height: 25px;
}

.m-box h3 {
	text-align: center;
	font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.m-box p {
	font-size: 14px;
    margin-bottom: 10px;
}
.m-box3 {
	float: left;
	position: relative;
	padding: 5px;
	width: 320px;
	height: 300px;
	margin-bottom: 30px;
	background: #FFFFFF;
	text-align: center;
	line-height: 25px;
}
.m-box3 h3 {
	text-align: center;
	font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.m-box3 p {
	font-size: 14px;
    margin-bottom: 10px;
}

.m-box2 {
	float: left;
	position: relative;
	padding: 5px;
	width: 320px;
	height: 250px;
	margin-bottom: 30px;
	margin-left: 20px;
	background: #FFFFFF;
	text-align: center;
	line-height: 25px;
}


.m-box2 h3 {
	text-align: center;
	font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.m-box2 p {
	font-size: 14px;
    margin-bottom: 10px;
    
}
.m-box4 {
	float: left;
	position: relative;
	padding: 5px;
	width: 320px;
	height: 300px;
	margin-bottom: 30px;
	margin-left: 20px;
	background: #FFFFFF;
	text-align: center;
	line-height: 25px;
}

.m-box4 h3 {
	text-align: center;
	font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}

.m-box4 p {
	font-size: 14px;
    margin-bottom: 10px;
}

.content-main2 ol {
	margin: 0 auto;
}

.content-main2 ol li {
	margin-bottom: 20px;
	position: relative;
}

.content-main2 .number {
	background: #3366cc;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
    display: block;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 30px;
}

.step-cont {
	background: #fff;
	height: 100px;
	padding: 20px 20px 20px 100px;
	overflow: hidden;
}
 
.step-cont h3 {
	font-weight: bold;
	font-size: 22px;
	line-height: 60px;
	width: 180px;
	margin-right: 20px;
	float: left;
	border-right: 1px dashed #ddd;
}

.step-cont p {
	font-size: 15px;
}
.bt-center {
	width: 1000px;
	margin: 50px 0;
	text-align: center;
}
/*Avout用css*/